#ceoStat_btnDiv {
    display: flex;
    justify-content: center;
}

/*
#dropDownbtn1,
#dropDownbtn2 {
    background-color: #045b8a !important;
    color: white;
    padding: 5px;
    font-size: 15px;
    border: none;
    cursor: pointer;
    border-radius: 7px;
}

#dropDownBtn1:hover,
#dropDownBtn1:focus {
    background-color: #045b8a !important;
}

#dropDownBtn2:hover,
#dropDownBtn2:focus {
    background-color: #045b8a !important;
}*/

#respWiseInput {
    box-sizing: border-box;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 1px 3px 4px 35px;
    border: none;
    border-bottom: 1px solid #ddd;

}

#clntWiseInput {
    box-sizing: border-box;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 1px 3px 4px 35px;
    border: none;
    border-bottom: 1px solid #ddd;

}

#respWiseInput:focus {
    outline: 3px solid #ddd;
}

#clntWiseInput:focus {
    outline: 3px solid #ddd;
}

.dropdown {
    position: relative;
    display: inline-block;
    padding: 2%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #85B3FF !important;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
    border-radius: 10px;
    height: 180px;
    width: 57% !important;
    overflow-x: hidden;
    overflow-y: scroll;
    position: sticky !important;

}

#respWiseInput,
#clntWiseInput {
    position: sticky !important;
    top: 0 !important;
}


.dropdown-content a {
    color: #ffffff !important;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #6693da;
}

.show {
    display: block;
}






/*FROM HERE FOR BUTTON*/

/* CSS */
.button-77 {
    align-items: center;
    appearance: none;
    background-clip: padding-box;
    background-color: initial;
    background-image: none;
    border-style: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    flex-direction: row;
    flex-shrink: 0;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 13px;
    font-weight: 600;
    justify-content: center;
    line-height: 24px;
    margin: 0;
    min-height: 45px;
    outline: none;
    overflow: visible;
    padding: 19px 26px;
    pointer-events: auto;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    width: auto;
    word-break: keep-all;
    z-index: 0;
}

@media (min-width: 768px) {
    .button-77 {
        padding: 10px 32px;
    }
}

.button-77:before,
.button-77:after {
    border-radius: 70px !important;
}

.button-77:before {
    /*background-color: #1073b0d4;*/
    content: "";
    display: block;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -2;
}

.button-77:after {
    background-color: initial;
    background-image: linear-gradient(92.83deg, #85B3FF 0, #045b8a 100%);
    bottom: 4px;
    content: "";
    display: block;
    left: 4px;
    overflow: hidden;
    position: absolute;
    right: 4px;
    top: 4px;
    transition: all 100ms ease-out;
    z-index: -1;
}

.button-77:hover:not(:disabled):after {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    transition-timing-function: ease-in;
}

.button-77:active:not(:disabled) {
    color: #ccc;
}

.button-77:active:not(:disabled):after {
    background-image: linear-gradient(0deg, #615f5fb7, #d4c4c433), linear-gradient(92.83deg, #85B3FF 0, #0d8acd 100%);
    bottom: 4px;
    left: 4px;
    right: 4px;
    top: 4px;
}

.button-77:disabled {
    cursor: default;
    opacity: .24;
}


#respiplbl,
#clntiplbl {
    text-align: center !important;
    font-family: 'Heebo', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.025rem;
    font-style: normal;
    text-transform: capitalize;
    color: #FFFFFF;
    background-color: #6693da;
    border-radius: 0.4375rem;
    -webkit-border-radius: 0.4375rem;
    -moz-border-radius: 0.4375rem;
    padding: 0.8125rem 3rem;
    border-style: outset;
    border-width: 0.1875rem;
    border-color: #a6a2d9;
    max-width: fit-content;


}
#lblDivsion {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*For CEO Page*/
/*Resp Wise*/


/*For 1st DD*/
/* Hide the sub-dropdown by default */
#ceoR_sub-dropdown1 {
    display: none;
    position: absolute;
    /* Position the dropdown absolutely */
    background-color: #85B3FF;
    /* Background color for the dropdown */
    border: 1px solid #ffffff;
    /* Border for the dropdown */
    z-index: 9999;
    opacity: 0;
    /* Initially, set opacity to 0 for the fade-in effect */
    transition: opacity 0.3s ease;
    border-radius: 12px;
    height: 120px;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 90px;

}

#ceoR_dropdown1 li {
    list-style-type: none;
}

#ceoR_dd_ul1 {
    list-style-type: none;
}

/* Style for the parent li element */
#ceoR_dropdown1:hover #ceoR_sub-dropdown1 {
    display: block;
    /* Show the dropdown when the parent li is hovered */
    opacity: 1;
    /* Change opacity to 1 on hover */
}


/* Style for the list items inside the dropdown */
#ceoR_sub-dropdown1 li {
    padding: 5px;

}

/* Optional: Style the links inside the dropdown */
#ceoR_sub-dropdown1 li a {
    text-decoration: none;
    color: #ffffff;
}

/* Optional: Style for the dropdown when a link is hovered */
#ceoR_sub-dropdown1 li a:hover {
    background-color: #85B3FF;
}

/*For 2nd DD*/
/* Hide the sub-dropdown by default */
#ceoR_sub-dropdown2 {
    display: none;
    position: absolute;
    /* Position the dropdown absolutely */
    background-color: #85B3FF;
    /* Background color for the dropdown */
    border: 1px solid #ffffff;
    /* Border for the dropdown */
    z-index: 9999;
    opacity: 0;
    /* Initially, set opacity to 0 for the fade-in effect */
    transition: opacity 0.3s ease;
    border-radius: 12px;
    height: 120px;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 90px;
}

#ceoR_dropdown2 li {
    list-style-type: none;
}

#ceoR_dd_ul2 {
    list-style-type: none;
}

/* Style for the parent li element */
#ceoR_dropdown2:hover #ceoR_sub-dropdown2 {
    display: block;
    /* Show the dropdown when the parent li is hovered */
    opacity: 1;
    /* Change opacity to 1 on hover */
}


/* Style for the list items inside the dropdown */
#ceoR_sub-dropdown2 li {
    padding: 5px;

}

/* Optional: Style the links inside the dropdown */
#ceoR_sub-dropdown2 li a {
    text-decoration: none;
    color: #ffffff;
}

/* Optional: Style for the dropdown when a link is hovered */
#ceoR_sub-dropdown2 li a:hover {
    background-color: #85B3FF;
}

/*For 3rd DD*/
/* Hide the sub-dropdown by default */
#ceoR_sub-dropdown3 {
    display: none;
    position: absolute;
    /* Position the dropdown absolutely */
    background-color: #85B3FF;
    /* Background color for the dropdown */
    border: 1px solid #ffffff;
    /* Border for the dropdown */
    z-index: 9999;
    opacity: 0;
    /* Initially, set opacity to 0 for the fade-in effect */
    transition: opacity 0.3s ease;
    border-radius: 12px;
    height: 120px;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 90px;
}

#ceoR_dropdown3 li {
    list-style-type: none;
}

#ceoR_dd_ul3 {
    list-style-type: none;
}

/* Style for the parent li element */
#ceoR_dropdown3:hover #ceoR_sub-dropdown3 {
    display: block;
    /* Show the dropdown when the parent li is hovered */
    opacity: 1;
    /* Change opacity to 1 on hover */
}


/* Style for the list items inside the dropdown */
#ceoR_sub-dropdown3 li {
    padding: 5px;

}

/* Optional: Style the links inside the dropdown */
#ceoR_sub-dropdown3 li a {
    text-decoration: none;
    color: #ffffff;
}

/* Optional: Style for the dropdown when a link is hovered */
#ceoR_sub-dropdown3 li a:hover {
    background-color: #85B3FF;
}


/*For 4th DD*/
/* Hide the sub-dropdown by default */
#ceoR_sub-dropdown4 {
    display: none;
    position: absolute;
    /* Position the dropdown absolutely */
    background-color: #85B3FF;
    /* Background color for the dropdown */
    border: 1px solid #ffffff;
    /* Border for the dropdown */
    z-index: 9999;
    opacity: 0;
    /* Initially, set opacity to 0 for the fade-in effect */
    transition: opacity 0.3s ease;
    border-radius: 12px;
    height: 120px;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 90px;
}

#ceoR_dropdown4 li {
    list-style-type: none;
}

#ceoR_dd_ul4 {
    list-style-type: none;
}

/* Style for the parent li element */
#ceoR_dropdown4:hover #ceoR_sub-dropdown4 {
    display: block;
    /* Show the dropdown when the parent li is hovered */
    opacity: 1;
    /* Change opacity to 1 on hover */
}


/* Style for the list items inside the dropdown */
#ceoR_sub-dropdown4 li {
    padding: 5px;

}

/* Optional: Style the links inside the dropdown */
#ceoR_sub-dropdown4 li a {
    text-decoration: none;
    color: #ffffff;
}

/* Optional: Style for the dropdown when a link is hovered */
#ceoR_sub-dropdown4 li a:hover {
    background-color: #85B3FF;
}


/*For 5th DD*/
/* Hide the sub-dropdown by default */
#ceoR_sub-dropdown5 {
    display: none;
    position: absolute;
    /* Position the dropdown absolutely */
    background-color: #85B3FF;
    /* Background color for the dropdown */
    border: 1px solid #ffffff;
    /* Border for the dropdown */
    z-index: 9999;
    opacity: 0;
    /* Initially, set opacity to 0 for the fade-in effect */
    transition: opacity 0.3s ease;
    border-radius: 12px;
    height: 120px;
    overflow-x: hidden;
    overflow-y: scroll;
    
}

#ceoR_dropdown5 li {
    list-style-type: none;
}

#ceoR_dd_ul5 {
    list-style-type: none;
}

/* Style for the parent li element */
#ceoR_dropdown5:hover #ceoR_sub-dropdown5 {
    display: block;
    /* Show the dropdown when the parent li is hovered */
    opacity: 1;
    /* Change opacity to 1 on hover */
}


/* Style for the list items inside the dropdown */
#ceoR_sub-dropdown5 li {
    padding: 5px;

}

/* Optional: Style the links inside the dropdown */
#ceoR_sub-dropdown5 li a {
    text-decoration: none;
    color: #ffffff;
}

/* Optional: Style for the dropdown when a link is hovered */
#ceoR_sub-dropdown5 li a:hover {
    background-color: #85B3FF;
}

/*Client Wise*/
.clnt_ATag {
    text-decoration: none; /* Remove underline */
    color: #ffffff; /* Set text color to white */
}