body {
    font-family: 'Varela Round', sans-serif;
}

a:focus, a:hover {
  text-decoration: none !important;
}

.modal-login {
    width: 350px;
    margin: 90px auto;
}

.modal-login .modal-content {
    padding: 20px;
    border-radius: 5px;
    border: none;
    position: relative;

}

.modal-login .modal-header img {
    width: 30%;
    height: auto;
    margin: 0 auto;
    text-align: center;

}

.modal-login .modal-header {
    border-bottom: none;
    position: relative;
    justify-content: center;
    text-align: center;

}

.modal-login .close {
    position: absolute;
    top: -10px;
    right: -10px;
}

.modal-login h4 {
    color: #ffffff;
    text-align: center;
    font-size: 26px;
    margin-top: 20px;
}

.modal-login .modal-content {
    color: #fff;
    border-radius: 20px;
    margin-bottom: 15px;
    background: #fff;
    background-image: linear-gradient(#7b74f5, #a33ae5);
    box-shadow: 0px 2px 10px rgb(0 0 0 / 32%);
    padding: 25px;
    border: 1px solid #ffffff69;
}

.modal-login .form-group {
    margin-bottom: 20px;
}

.modal-login label {
    font-weight: normal;
    font-size: 13px;
}

.modal-login .form-control {
    min-height: 38px;
    padding-left: 5px;
    box-shadow: none !important;
    border-width: 0 0 1px 0;
    border-radius: 0;
    background-color: transparent;
    color: #fff;
}

.modal-login .form-control:focus {
    border-color: #ccc;
}

.modal-login .input-group-addon {
    max-width: 42px;
    text-align: center;
    background: transparent;
    border-width: 0 0 1px 0;
    padding-left: 5px;
    border-radius: 0;
    color: #fff;
}

.modal-login .btn {
    font-size: 16px;
    font-weight: bold;
    background: #ffffff;
    color: #000;
    border-radius: 3px;
    border: none;
    min-width: 140px;
    outline: none !important;
}

.modal-login .btn:focus {
    background: #ffffff;
    color: #000;
}

.modal-login .btn:hover {
    background: #bebebe;
}


.modal-login .btn:active:hover {
    color: #000;
}

.modal-login .hint-text {
    text-align: center;
    padding-top: 5px;
    font-size: 13px;
}

.modal-login .modal-footer {
    color: #fff;
    border-color: #dee4e7;
    text-align: center;
    margin: 0 -25px -25px;
    font-size: 13px;
    justify-content: center;
}

.modal-login a {
    color: #fff;
    text-decoration: underline;
}

.modal-login a:hover {
    text-decoration: none;
}

.modal-login a {
    color: #fff;
    text-decoration: none;
}

.modal-login a:hover {
    text-decoration: underline;
}

.modal-login .fa {
    font-size: 21px;
}

.trigger-btn {
    display: inline-block;
    margin: 100px auto;
}


/**search box**/

.top-container {
  border-bottom: 1px solid #F3F5F7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
  background-image: linear-gradient(to right, #ffffff, #1f2f98);
}

.search {
  display: flex;
  align-items: center;
  padding: 11px 0 11px 24px;
  max-width: 492px;
  width: 100%;
  border: 1px solid #C3D4E9;
  border-radius: 70px;
  gap: 26px;
  background: #FFFFFF;
  opacity: 0.8;
}


.search__input {
  border: none;
  outline: none;
  width: calc(100% - 78px);
}

.user-nav, .user-info {
  display: flex;
  align-items: center;
  color: #fff;
}


.notification {
  border: 1px solid #C3D4E9;
  background-color: transparent;
  position: relative;
  margin-right: 30px;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notification__icon{
  fill: #fff;
  font-size: 15px;
}

.notification__icon path{
   border:1px solid #fff;
}


.user-name {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin: 0 0px 0 5px;
  color: #fff;
}

.info {
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  padding: 12px;
  border-left: 1px solid #ffffff42;
  margin-left: 15px;
}

.info i{
  font-size: 20px;
}

.card{
  transition: 0.5s ease;
}

.card ul{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background: #ffffff;
  position: absolute;
  top: 5rem;
  right: 3rem;
  padding: 10px 20px;
  width: 150px;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.122);
  z-index: 999;
}
.card ul li{
 
  padding: 5px 0;
  color: #000000;
  font-size: 14px;
  list-style: none;
}


.card ul li a{
  color: #000;
}



.hidden{
  display: none;
}


.dropdown{
  position: relative;
  vertical-align: middle;
}

.dropdown i{
  cursor: pointer;
}


.dropdown:hover .dropdown-nav {
  opacity: 1;
  transform: translateY(0);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.dropdown-nav {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.dropdown-nav li{
  padding: 10px 10px;
}

.dropdown-nav a {
  font-weight: 300;
  font-size: 1.2rem;
  padding: 10px;
  color: #000;
}


.bottom-container {
  display: flex;
  gap: 24px;
  padding: 32px;
  background-color: #F3F5F7;
}



.layout {
    z-index: 1;
  }
  .layout .header {
    display: flex;
    align-items: center;
    padding: 20px;
  }
  .layout .content {
  
    display: flex;
    flex-direction: column;
  }
  .layout .footer {
    text-align: center;
    margin-top: auto;
    margin-bottom: 20px;
    padding: 20px;
  }
  
  .sidebar {
    color: #7d84ab;
    overflow-x: hidden !important;
    position: fixed !important;
    height: 100% !important;
    min-width: 80px !important;
    width: 80px !important;
    z-index: 5;
    top: 0;
    left: 0;
    background-color: #111;
    transition: 0.5s !important;
    white-space: nowrap;
  }

  .sidebar:hover{
    min-width: 250px !important;
    width: 250px !important;
  }


  #main {
    
    transition: margin-left 0.5s;
    min-width: 80% !important;
    overflow-x: hidden;
    margin-left: 80px;
  }
  
  .menu li:hover {
    border-left: 2px solid #fff;
}


  .sidebar::-webkit-scrollbar-thumb {
    border-radius: 4px;
  }
  .sidebar:hover::-webkit-scrollbar-thumb {
    background-color: #1a4173;
  }
  .sidebar::-webkit-scrollbar {
    width: 6px;
    background-color: #0c1e35;
  }
  .sidebar .image-wrapper {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: none;
  }
  .sidebar .image-wrapper > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  .sidebar.has-bg-image .image-wrapper {
    display: block;
  }
  .sidebar .sidebar-layout {
    height: auto;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #0c1e35;
    z-index: 2;
  }
  .sidebar .sidebar-layout .sidebar-header {
    height: 100px;
    min-height: 100px;
    display: flex;
    align-items: center;
    padding: 0 20px;
  }
  .sidebar .sidebar-layout .sidebar-header > span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .sidebar .sidebar-layout .sidebar-content {
    flex-grow: 1;
    padding: 10px 0;
  }
  .sidebar .sidebar-layout .sidebar-footer {
    height: 230px;
    min-height: 230px;
    display: flex;
    align-items: center;
    padding: 0 20px;
  }
  .sidebar .sidebar-layout .sidebar-footer > span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  @keyframes swing {
    0%, 30%, 50%, 70%, 100% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(10deg);
    }
    40% {
      transform: rotate(-10deg);
    }
    60% {
      transform: rotate(5deg);
    }
    80% {
      transform: rotate(-5deg);
    }
  }
  .layout .sidebar .menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .layout .sidebar .menu .menu-header {
    font-weight: 600;
    padding: 10px 25px;
    font-size: 0.8em;
    letter-spacing: 2px;
    transition: opacity 0.3s;
    opacity: 0.5;
  }
  .layout .sidebar .menu .menu-item a {
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0 20px;
    color: #7d84ab;
  }
  .layout .sidebar .menu .menu-item a .menu-icon {
    font-size: 1.8rem;
    width: 35px;
    min-width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    display: inline-block;
    margin-right: 10px;
    border-radius: 2px;
    transition: color 0.3s;
  }
  .layout .sidebar .menu .menu-item a .menu-icon i {
    display: inline-block;
  }
  .layout .sidebar .menu .menu-item a .menu-title {
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-grow: 1;
    transition: color 0.3s;
  }
  .layout .sidebar .menu .menu-item a .menu-prefix,
  .layout .sidebar .menu .menu-item a .menu-suffix {
    display: inline-block;
    padding: 5px;
    opacity: 1;
    transition: opacity 0.3s;
  }
  .layout .sidebar .menu .menu-item a:hover .menu-title {
    color: #dee2ec;
  }
  .layout .sidebar .menu .menu-item a:hover .menu-icon {
    color: #dee2ec;
  }
  .layout .sidebar .menu .menu-item a:hover .menu-icon i {
    animation: swing ease-in-out 0.5s 1 alternate;
  }
  .layout .sidebar .menu .menu-item a:hover::after {
    border-color: #dee2ec !important;
  }
  .layout .sidebar .menu .menu-item.sub-menu {
    position: relative;
  }
  .layout .sidebar .menu .menu-item.sub-menu > a::after {
    content: "";
    transition: transform 0.3s;
    border-right: 2px solid currentcolor;
    border-bottom: 2px solid currentcolor;
    width: 5px;
    height: 5px;
    transform: rotate(-45deg);
  }
  .layout .sidebar .menu .menu-item.sub-menu > .sub-menu-list {
    padding-left: 20px;
    display: none;
    overflow: hidden;
    z-index: 999;
  }
  .layout .sidebar .menu .menu-item.sub-menu.open > a {
    color: #dee2ec;
  }
  .layout .sidebar .menu .menu-item.sub-menu.open > a::after {
    transform: rotate(45deg);
  }
  .layout .sidebar .menu .menu-item.active > a .menu-title {
    color: #dee2ec;
  }
  .layout .sidebar .menu .menu-item.active > a::after {
    border-color: #dee2ec;
  }
  .layout .sidebar .menu .menu-item.active > a .menu-icon {
    color: #dee2ec;
  }
  .layout .sidebar .menu > ul > .sub-menu > .sub-menu-list {
    background-color: #0b1a2c;
  }
  .layout .sidebar .menu.icon-shape-circle .menu-item a .menu-icon, .layout .sidebar .menu.icon-shape-rounded .menu-item a .menu-icon, .layout .sidebar .menu.icon-shape-square .menu-item a .menu-icon {
    background-color: #0b1a2c;
  }
  .layout .sidebar .menu.icon-shape-circle .menu-item a .menu-icon {
    border-radius: 50%;
  }
  .layout .sidebar .menu.icon-shape-rounded .menu-item a .menu-icon {
    border-radius: 4px;
  }
  .layout .sidebar .menu.icon-shape-square .menu-item a .menu-icon {
    border-radius: 0;
  }
  .layout .sidebar:not(.collapsed) .menu > ul > .menu-item.sub-menu > .sub-menu-list {
    visibility: visible !important;
    position: static !important;
    transform: translate(0, 0) !important;
  }
  .layout .sidebar.collapsed .menu > ul > .menu-header {
    opacity: 0;
  }
  .layout .sidebar.collapsed .menu > ul > .menu-item > a .menu-prefix,
  .layout .sidebar.collapsed .menu > ul > .menu-item > a .menu-suffix {
    opacity: 0;
  }
  .layout .sidebar.collapsed .menu > ul > .menu-item.sub-menu > a::after {
    content: "";
    width: 5px;
    height: 5px;
    background-color: currentcolor;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 50%;
    border: none;
    transform: translateY(-50%);
  }
  .layout .sidebar.collapsed .menu > ul > .menu-item.sub-menu > a:hover::after {
    background-color: #dee2ec;
  }
  .layout .sidebar.collapsed .menu > ul > .menu-item.sub-menu > .sub-menu-list {
    transition: none !important;
    width: 200px;
    margin-left: 3px !important;
    border-radius: 4px;
    display: block !important;
  }
  .layout .sidebar.collapsed .menu > ul > .menu-item.active > a::after {
    background-color: #dee2ec;
  }
  .layout .sidebar.has-bg-image .menu.icon-shape-circle .menu-item a .menu-icon, .layout .sidebar.has-bg-image .menu.icon-shape-rounded .menu-item a .menu-icon, .layout .sidebar.has-bg-image .menu.icon-shape-square .menu-item a .menu-icon {
    background-color: rgba(11, 26, 44, 0.6);
  }
  .layout .sidebar.has-bg-image:not(.collapsed) .menu > ul > .sub-menu > .sub-menu-list {
    background-color: rgba(11, 26, 44, 0.6);
  }
  .layout.rtl .sidebar .menu .menu-item a .menu-icon {
    margin-left: 10px;
    margin-right: 0;
  }
  .layout.rtl .sidebar .menu .menu-item.sub-menu > a::after {
    transform: rotate(135deg);
  }
  .layout.rtl .sidebar .menu .menu-item.sub-menu > .sub-menu-list {
    padding-left: 0;
    padding-right: 20px;
  }
  .layout.rtl .sidebar .menu .menu-item.sub-menu.open > a::after {
    transform: rotate(45deg);
  }
  .layout.rtl .sidebar.collapsed .menu > ul > .menu-item.sub-menu a::after {
    right: auto;
    left: 10px;
  }
  .layout.rtl .sidebar.collapsed .menu > ul > .menu-item.sub-menu > .sub-menu-list {
    margin-left: -3px !important;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    height: 100vh;
    font-family: "Poppins", sans-serif;
    color: #3f4750;
    font-size: 0.9rem;
  }
  
  a {
    text-decoration: none;
  }
  
  @media (max-width: 992px) {
    #btn-collapse {
      display: none;
    }
  }
  .layout .sidebar .pro-sidebar-logo {
    display: flex;
    align-items: center;
  }
  .layout .sidebar .pro-sidebar-logo > div {
    width: 35px;
    min-width: 35px;
    height: 35px;
    min-height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    color: white;
    font-size: 24px;
    font-weight: 700;
    background-color: #ff8100;
    margin-right: 10px;
  }
  .layout .sidebar .pro-sidebar-logo > h5 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 20px;
    line-height: 30px;
    transition: opacity 0.3s;
    opacity: 1;
  }
  .layout .sidebar .footer-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 0.8em;
    padding: 20px 0;
    border-radius: 8px;
    width: 180px;
    min-width: 190px;
    margin: 0 auto;
    background-color: #162d4a;
  }
  .layout .sidebar .footer-box img.react-logo {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
  }
  .layout .sidebar .footer-box a {
    color: #fff;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .layout .sidebar .sidebar-collapser {
    transition: left, right, 0.3s;
    position: fixed;
    left: 260px;
    top: 110px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #00829f;
    display: -webkit-box;
    display: -ms-flexbox;
    display: none;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    transform: translateX(50%);
    z-index: 111;
    cursor: pointer;
    color: white;
    box-shadow: 1px 1px 4px #0c1e35;
  }
  .layout .sidebar.collapsed .pro-sidebar-logo > h5 {
    opacity: 0;
  }
  .layout .sidebar.collapsed .footer-box {
    display: none;
  }
  .layout .sidebar.collapsed .sidebar-collapser {
    left: 60px;
  }
  .layout .sidebar.collapsed .sidebar-collapser i {
    transform: rotate(180deg);
  }
  
  .badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    color: #fff;
    background-color: #6c757d;
  }
  .badge.primary {
    background-color: #ab2dff;
  }
  .badge.secondary {
    background-color: #079b0b;
  }
  
  .sidebar-toggler {
    position: fixed;
    right: 20px;
    top: 20px;
  }
  
  .social-links a {
    margin: 0 10px;
    color: #3f4750;
  }






